.App {
  text-align: center;
  background-color: #a59f48;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  padding: 20px;
  background: gray;
  margin: 20px;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}

ul {
  display: flex;
}
